.smart-text {
  background: linear-gradient(to right, rgba(5, 70, 53, 1) 0%, rgba(10, 133, 28, 1) 14%, rgba(5, 70, 53, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: text 3s ease-in-out infinite alternate;
}
@keyframes text {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.flower {
  /* Common for all screen */
  @apply absolute drop-shadow-[-2px_5px_1px_rgba(0,0,0,0.2)] h-[clamp(10rem,7.3529rem+14.1176vw,25rem)] z-[1] motion-safe:animate-[spin_20s_linear_infinite_forwards];

  @apply top-[var(--lrt-def)]  sm:top-[var(--lrt-sm)] md:top-[var(--lrt-md)] 2xl:top-[var(--lrt-2xl)];
}
.anim-left {
  @apply left-[var(--lrt-def)]  sm:left-[var(--lrt-sm)] md:left-[var(--lrt-md)] 2xl:left-[var(--lrt-2xl)];
}
.anim-right {
  @apply right-[var(--lrt-def)] sm:right-[var(--lrt-sm)] md:right-[var(--lrt-md)] 2xl:right-[var(--lrt-2xl)];
}
.product-images {
  @apply relative duration-200 ease-in-out;
}
.left-img,
.right-img {
  @apply h-[85%] z-[2];
}
.center-img {
  @apply h-[100%] z-[3];
}
.hero-btn {
  @apply border-2 rounded-full py-1 px-5 font-semibold text-nowrap duration-150 ease-in-out;
  @apply hover:-translate-y-1 hover:shadow;
}
