ul li {
  list-style: none;
}
a {
  color: #054635;
  text-decoration: none;
}
.header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* box-shadow: 2px 2px 5px rgba(5, 70, 53, 0.2); */
  width: 100vw;
  padding: 15px 35px;
  font-size: 1.05rem;
  background-color: #054635;
}
.header .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 80%;
  margin-top: 10px;
}
.header .nav-container .logo-container {
  width: 60px;
  transition: all ease 0.17s;
}
.header .nav-container .logo-container img {
  width: 100%;
  transition: all ease 0.17s;
}
.header .nav-container .logo-container:hover {
  transform: scale(1.02);
  opacity: 0.95;
}
.header .nav-container .nav-links {
  display: flex;
  column-gap: 50px;
}
.header .nav-container .nav-links li a {
  color: white;
  transition: all ease 0.2s;
}
.header .nav-container .nav-links li a:hover {
  color: #fab12f;
}
.header .nav-container .user-actions {
  display: flex;
  column-gap: 10px;
}
.header .nav-container .user-actions .user {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  font-size: 0.8rem;
  border-radius: 20px;
  border: 1px solid white;
}
.header .nav-container .user-actions .login {
  background-color: white;
  color: #054635;
}
.header .nav-container .user-actions .sign-up {
  color: white;
}
