.nav-links {
  @apply duration-100 ease-in-out hover:text-secondary;
}
.user-actions {
  @apply flex justify-center items-center py-[2px] px-[10px] border-2 border-white  font-medium text-[0.9rem] rounded-full duration-155 ease-in-out hover:border-secondary hover:text-secondary;
}

.icons {
  position: absolute;
  top: 45%;
  width: 25px;
  height: 2.5px;
  background-color: white;
  transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
}
.icon-1 {
  transform: translateY(-7px);
  animation-delay: 100ms;
}
.icon-3 {
  transform: translateY(7px);
  animation-delay: 250ms;
}
.icon-1.a {
  transform: rotate(40deg);
}
.icon-3.b {
  transform: rotate(-40deg);
}
.icon-2.c {
  opacity: 0;
}
.show {
  min-width: 100px;
  width: 380px;
  opacity: 1;
}
.slide {
  width: 50%;
  opacity: 1;
}
