.highlight-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  @apply size-[300px]
}
.highlight-wrapper img {
  width: clamp(3.5rem, 0.5rem + 5dvw, 5rem);
  transition: all 0.2s ease-in-out;
}
.highlight-wrapper img:hover {
  transform: translateY(-5px);
}
.highlight-wrapper .highlight-heading {
  color: #fab12f;
  font-size: 1.3rem;
  font-size: 1.8rem;
  font-size: clamp(1.3rem, 0.1rem + 2dvw, 2rem);
  font-weight: 300;
  text-wrap: nowrap;
}
.highlight-wrapper .highlight-content {
  font-size: clamp(0.85rem, 0.1rem + 1.2dvw, 1.1rem);
  font-weight: 200;
  color: white;
}

.cert-logos img {
  @apply h-20 sm:h-[100px];
}
.cert-logos * {
  transition: all 0.2s ease-in-out;
}
.cert-logos *:hover {
  transform: translateY(-5px);
}

main .featured-product-container {
  background-color: #054635;
}
main .featured-product-container .f-prod- {
}
