@import "tailwindcss";
@import "./header.css";
@import "./hero.css";
/* @import "./hero.css"; */

@theme {
  --color-primary: #054635;
  --color-secondary: #fab12f;
  --breakpoint-3xl: 1780px;

  /* Flower left right top values for different screen sizes */
  --lrt-def: -20dvw;
  --lrt-sm: -15dvw;
  --lrt-md: -13dvw;
  --lrt-2xl: -11dvw;
}

/* Keyboard Controls Outline */
a,
button {
  @apply focus-visible:outline-amber-400 focus-visible:outline-4;
}
